<?xml version="1.0"?>
<robot name="raphael_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- 导入snake_robot -->
    <xacro:include filename="$(find raphael_robot_description)/urdf/01_snake/99_snake_robot.urdf.xacro"/>

    <!-- raphael_robot 总装基点-->
    <link name="base_footprint"/>

    <joint name="base_snake_joints" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_footprint_snake"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>


</robot>