<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="SnakeHardware" type="system">

        <hardware>
            <plugin>snake_hardware/SnakeHardwareInterface</plugin>
            <param name="st3215_port">/dev/ttyACM0</param>
            <param name="baud">1000000</param>
            <param name="s1_motor_06_07">6</param>
            <param name="s1_motor_07_08">7</param>
            <param name="s1_motor_08_09">8</param>
            <param name="s1_motor_09b_10">9</param>
            <param name="s1_motor_10_11">10</param>
        </hardware>

        <joint name="s1_link06_link07_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="s1_link07_link08_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

        <joint name="s1_link08_link09_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

        <joint name="s1_link09b_link10_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

        <joint name="s1_link10_link11_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

    </ros2_control>


    <!--    仿真/Mock 硬件接口配置-->
    <ros2_control name="SnakeHardwareMock" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">true</param>
        </hardware>

        <joint name="base_s1_link00">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="s1_link01_link02_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="s1_link02_link03_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

        <joint name="s1_link03_link04_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

        <joint name="s1_link04_link05_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>
        <joint name="s1_link05_link06_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
        </joint>

        <!--  ========================== 以下就有足够的电机可以匹配了 ========================-->

        <!--        <joint name="s1_link06_link07_joint">&ndash;&gt;-->
        <!--            <command_interface name="position"/>-->
        <!--            <state_interface name="position"/>-->
        <!--        </joint>-->
        <!--        <joint name="s1_link07_link08_joint">-->
        <!--            <command_interface name="position"/>-->
        <!--            <state_interface name="position"/>-->
        <!--        </joint>-->

        <!--        <joint name="s1_link08_link09_joint">-->
        <!--            <command_interface name="position"/>-->
        <!--            <state_interface name="position"/>-->
        <!--        </joint>-->

        <!--        <joint name="s1_link09b_link10_joint">-->
        <!--            <command_interface name="position"/>-->
        <!--            <state_interface name="position"/>-->
        <!--        </joint>-->

        <!--        <joint name="s1_link10_link11_joint">-->
        <!--            <command_interface name="position"/>-->
        <!--            <state_interface name="position"/>-->
        <!--        </joint>-->

    </ros2_control>

</robot>